.overlay {
  position: absolute;
  background-color: transparent;
  z-index: 10000;
  border-radius: 8px;
  padding: 8px;
}

.overlay * {
  user-select: none;
}

.overlay-box {
  background-color: white;
  border-radius: 5px;
  padding: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  color: black;
}


.spinner {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-top-color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
